.Titre
{
	text-align: center;
}

h1
{
	color: grey;
}

h2
{
	color: grey;
}


a:hover
{
	color: red;
	text-decoration: underline;
}

.image
{
	float: left;
}

.nom
{
	clear: both;
}

.Git
{
	padding-bottom: 30px;
}

li
{
	width: 30%;
	min-width: 300px
}


body
{
	margin-left: 50px;
}